.header{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray
   
}
#image{
    width: 100px;
    height: 80px;
    padding: 10px;
}
.list > ul {
    display: flex;
}
.list > ul >li {
    color: white;
    font-size: 20px;
    list-style: none;
    Padding:10px;
    margin :10px;
}
.restaurants{
    margin: 10px;
  background-color: #f0f0f0;
    width:150px;
    
    
}

.Search{
    padding: 10px;
}

.res-container{  
 display: flex;
 flex-wrap: wrap;
 
}
.res-logo{
  height: 125px;
  width: 100%;
}
.mindiv{
   padding: 10px;
    background:#f0f0f0
    ;
    margin: 10px;
    width: 200px;
    
}
.mindiv:hover {
    cursor:pointer;
    border: 1px solid black;
}
.filter{
    margin: 10px;
}
.btn{
    color: blue;
    padding : 10px ;
}
.fakemain{
    display: flex;
    flex-wrap: wrap;
}
.fakerestro{
    margin: 10px;
  background-color:#f0f0f0;
    width:200px;
    height: 300px;
}
.highfood{
    margin: 10px;
    color: blue;
    padding : 10px ;   
}
.loginbtn{
    font-size: 15px;
width: 100px;
    padding-left :5px;
    padding-right: 5px;
    color :blue;
    border: 0px;

}
.input{
    margin :10px;
    padding: 5px;

}
.fakeinput{
    
    margin :10px;
    padding: 5px;
}

.userfunction{
    padding: 10px;
    border: 1px solid black;
}
.userclass{
    padding: 10px;
    border: 1px solid black;
}